{% extends "layout.html" %} {% block content %}

<h1>Add Study Space</h1>

<form action="{{ url_for('add')}}" method="post">
  <div>
    <label for="building">Building Name</label>
    <input type="text" id="building" name="building" />
  </div>
  <div>
    <label for="code">Building Code</label>
    <input type="text" name="code" id="code" />
  </div>
  <div>
    <label for="location">Location</label>
    <textarea name="location" id="location" cols="30" rows="5"></textarea>
  </div>
  <div>
    <label for="rating">Rating</label>
    <input type="number" id="rating" step="1" min="0" max="10" />
  </div>
</form>

{% endblock %}
