{% extends "layout.html" %} 
{% block content %}
	<header class="text-center mt-3">
			<h1>Movie Manager</h1>
			<p>Welcome to the only movie manager tool you'll need!</p>
	</header>

	<form action="{{ url_for('index') }}" method="post" class="text-center">
		<div>
			<label for="movie-title">Title</label>
			<input type="text" id="movie-title" name="movie-title" required>
		</div>
		<div>
			<label for="release-year">Release Year</label>
			<input type="text" id="release-year" name="release-year" placeholder="optional">
		</div>
		<button type="submit">Search</button>
	</form>
	
{% endblock %}
