{% extends "layout.html" %} 
{% block content %}
	<header class="text-center mt-2">
			<h1>Movie Manager</h1>
			<p>A simple way to manage the movies you plan on watching!</p>

			<nav class="navbar navbar-expand-md justify-content-center">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="{{ url_for('index')}}" class="nav-link active">Home</a>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('watchlist')}}" class="nav-link active">Watchlist</a>
					</li>
				</ul>
			</nav>

	</header>

	<form action="{{ url_for('index') }}" method="post" class="w-50 m-auto">
		<div class="input-group">
			<input type="text" id="movie_title" name="movie_title" class="form-control" aria-label="Movie Title" placeholder="E.g The Godfather" required>
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</form>

	{% if movie %}
		{% if "error_message" in movie %}
			<div class="w-50 m-auto mt-5">
				<p>{{ movie.error_message }}</p>
			</div>
		{% elif movie.Response == "False" %}
			<div class="w-50 m-auto text-center mt-5">
				<h4>The movie does not exist and/or could not be found!</h4>
				<p>Please ensure your input is correct and try again.</p>
			</div>
		{% else %}
			<div class="w-25 m-auto text-center mt-3 mb-5">
				<div>
					<h2>Top Search Result</h2>
					<img src="{{ movie.Poster }}" alt="Movie poster for {{ movie.Title }}" class="poster">
					<h3>{{ movie.Title }}</h3>
					<p>{{ movie.Plot }}</p>
					<p>Release Date: {{ movie.Released }}</p>
					<p>Rated: {{ movie.Rated }}</p>
					<p>Runtime: {{ movie.Runtime }}</p>
				</div>
				<form action="{{ url_for('watchlist')}}" method="post">
					<input type="hidden" id="poster" name="poster" value="{{ movie.Poster }}">
					<input type="hidden" id="title" name="title" value="{{ movie.Title }}">
					<input type="hidden" id="plot" name="plot" value="{{ movie.Plot }}">
					<input type="hidden" id="date" name="date" value="{{ movie.Released }}">
					<input type="hidden" id="rated" name="rated" value="{{ movie.Rated }}">
					<input type="hidden" id="runtime" name="runtime" value="{{ movie.Runtime }}">
					<input type="hidden" id="imdb_id" name="imdb_id" value="{{ movie.imdbID }}">
					<button type="submit" class="btn btn-secondary">Add to Watchlist</button>
				</form>
			</div>

		{% endif %}
	{% endif %}
	
{% endblock %}
