{% extends "layout.html" %} 

{% block content %}
<header class="text-center mt-3">
  <h1>Watchlist</h1>
  <p>You have to start these movies sooner or later...</p>

  <nav class="navbar navbar-expand-md justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="{{ url_for('index')}}" class="nav-link active">Home</a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('watchlist')}}" class="nav-link active">Watchlist</a>
      </li>
    </ul>
  </nav>
</header>

  {% if movies == None %}
    <h4 class="text-center mt-3">There are no movies on your watchlist.</h4>
  {% else %}
    <div class="d-flex flex-wrap">
      {% for movie in movies %}
        <div>
          <img src="{{ movie['poster'] }}"alt="Movie poster for {{ movie.title }}">
          <h2>{{ movie.title }}</h2>
          <p>{{ movie.plot }}</p>
          <p>Release Year: {{ movie.year }}</p>
          <p>Rated: {{ movie.rated }}</p>
          <p>Runtime: {{ movie.runtime }}</p>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
